# Supported browsers list
# Run `npx browserslist` to see what browsers are selected by this queries or go to https://browserl.ist/
# More [here](https://github.com/browserslist/browserslist)

> 2%
last 2 major versions
not dead
not IE 11