{{ define "main" }}
{{ $listOfComponents := slice }}
<div>
  <div>

    {{/* ========= Accordion ==========  */}}
    {{ $component := "accordion" }}
    {{ if templates.Exists ( printf "partials/components/%s/%s.html" $component $component) }}
    {{ $listOfComponents = $listOfComponents | append $component }}
    <div id="{{ $component }}" style="display: none;">
      <a href="/styleguide">Go back to the list</a>
      {{ partial ( printf "components/%s/%s.html" $component $component) ( dict "headingTag" "h5" "hasOpenAllButton" true "classList" "margin-bottom-md" "items" .Params.accordionItems ) }}
    </div>
    {{ end }}
    {{/* ========= END ==========  */}}

    {{/* ========= Breadcrumb ==========  */}}
    {{ $component := "breadcrumb" }}
    {{ if templates.Exists ( printf "partials/components/%s/%s.html" $component $component) }}
    {{ $listOfComponents = $listOfComponents | append $component }}
    <div id="{{ $component }}" style="display: none;">
      <a href="/styleguide">Go back to the list</a>
      {{ partial ( printf "components/%s/%s.html" $component $component) $ }}
    </div>
    {{ end }}
    {{/* ========= END ==========  */}}

    <ul id="list">
      List of components:
      {{ range $nameOfComponent := $listOfComponents }}
      <li>
        <a href="?component={{ $nameOfComponent }}">{{ $nameOfComponent }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ end }}

{{ define "scripts" }}
<script>
  window.onload = () => {
    const query = window.location.search;
    const component = new URLSearchParams(query).get('component');
    showComponent(component);
  };
  const showComponent = (component) => {
    if (document.getElementById(component)) {
      document.getElementById(component).style.display = '';
      document.getElementById('list').style.display = 'none';
    }
  };

</script>

{{ end }}
