/**
 *
 * Base styles
 *
 */

// Body
$bodyBackground: $colorWhite;
$bodyColor: $colorBlack;
$bodyFontFamily: $systemFonts;
$bodyFontSize: 100%;
$bodyLineHeight: 1.5;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  background: $bodyBackground;
  color: $bodyColor;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links
a {
  color: $colorPrimary;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

// Block elements
$blockMargin: 20px;
$blockMarginLarge: 35px;

%blockMargin {
  margin: 0 0 $blockMargin;

  @include breakpoint(large) {
    margin: 0 0 $blockMarginLarge;
  }
}

// Paragraphs
p {
  @extend %blockMargin;
}

// Lists
ul,
ol {
  @extend %blockMargin;
  padding: 0 0 0 30px;
  list-style-position: outside;
}
