/**
 *
 * Color styles
 *
 */

$color-yellow: #FDD526;
$color-orange: #FA5F1F;
$color-purple: #523D77;
$color-white: #FFF;
$color-black: #000;
$color-dark: #2B2B2B;
$color-darker: #696969;
$color-grey: #f2f2f2;
$color-grey-darker: #9C9C9C;
$color-grey-dark: #818181;
$color-green: #2C8000;
$color-red: #DD0011;

$colorPrimary: $color-black;

.color-green {
  color: $color-green;
}

.color-red {
  color: $color-red;
}