/**
 *
 * Color styles
 *
 */

// Primary
$colorBlue: #034AD4;

// Secondary
$colorPink: #FFCFBE;
$colorMint: #87EBDA;
$colorBlueDark: #031F51;
$colorWhite: #FFF;
$colorBlack: #0A0A0A;
$colorGrey: #D9D9D9;
$colorGreyLight: #F4F4F4;

// Tertiary
$colorRed: #DD0011;

// Master
$colorPrimary: $colorBlue;
$colorSecondary: $colorPink;
