{{ $pageTitle := "Accordion" }} 
{{ $className := "handorgel" }}
{{ $data := $ }}
<div class="row">
  <div class="column small-12">
    <h1>{{ $pageTitle }}</h1>
    
    {{ if .hasOpenAllButton }}
    <div class="text-right">
      <button class="{{ $className }}__button-toggle js-accordion-toggle">
        <span class="js-accordion-open-all">RAZŠIRI VSE</span>
        <span class="hidden js-accordion-hide-all">SKRIJ VSE</span>
      </button>
    </div>
    {{ end }}
    
    <div class="{{ $className }}{{ if .classList }} {{ .classList }}{{ end }}">
      {{ range $index, $item := $data.items }}
      
      {{ safeHTML ( printf "<%s class='%s__header'>" $.headingTag $className ) }}
        <button class="{{ $className }}__header__button" {{ if $item.hasAutoFocus }} autofocus{{ end }}
          id="{{ $index }}">
          {{ safeHTML $item.heading }}
        
        </button>
      {{ safeHTML ( printf "</%s>" $.headingTag ) }}
      <div class="{{ $className }}__content" {{ if $item.isOpened }} -open{{ end }}>
        <div class="{{ $className }}__content__inner">
          {{ safeHTML $item.content }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</div>