/**
 *
 * Icon styles
 *
 */

$className: 'icon';

.#{$className} {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;

  // Inherit the text color
  fill: currentColor;

  /* Inherit the text’s size too - also allows sizing
  the icon by changing its font-size */
  width: 1em;
  height: 1em;

  /* Nice visual alignment for icons alongside text,
  this works better than just `vertical-align: middle` */
  vertical-align: -0.15em;

  /* Paths and strokes that overflow the viewBox can show in IE.
  If you use normalize.css, it already sets this. */
  overflow: hidden;

  // Modifiers
  &.-large {
    font-size: 40px;
  }
}
